* {
  box-sizing: border-box;
}

header{
    padding: 10px 80px 0 0;
    
    font-weight: bold;
    font-size: larger;
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
}
  h1 {
    margin: auto;
    align-content: top;
    text-align: center;
    align-items: center;
  }
  h2 {

    color: black;
    text-align: center;
  }

  p {
    margin: auto;
    align-content: center;
    display: flex;
    align-items: center;
    padding: 30px 0 0 0 
  }
  
  button{
      grid-column: span 3;
      margin: auto;
      background-color: red;
      color: black;
      border: 1vmin solid gold;
      border-radius: 4vmin;
      font-size: 12;
      outline: none;
      font-family: 'Orbitron', sans-serif;
  }

  #slot-machine {
    height: 310px;
    width: 475px;
    background-image: url(https://i.imgur.com/KlhmOGx.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
  }

  .panel {
    width: 101px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #cash {
    padding: 10px 0px 0 50px;
    font-weight: bold;
    font-size: larger;
  }

#wrapper {
  display: flex;
  flex-direction: row-reverse;
  margin-left: auto;
  justify-content:space-between;
}