
th
{
    left:700px;
    top:300px;
    position:fixed
}
header{
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    margin-left: auto;
    padding: 10px 70px 0 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: larger;

}
body {
    margin: auto;
       display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  h1 {
    margin: auto;
    align-content: top;
    text-align: center;
    align-items: center;
  }
  h2 {

      color: black;
      text-align: center;
  }

  p {
    margin: auto;
    align-content: center;
    display: flex;
    align-items: center;
    padding: 30px 0 0 0 
  }
  
  button{
      grid-column: span 3;
      margin: auto;
      background-color: red;
      color: black;
      border: 1vmin solid gold;
      border-radius: 4vmin;
      font-size: 12;
      outline: none;
  }

  #slot-machine {
    height: 310px;
    width: 475px;
    background-image: url(https://i.imgur.com/KlhmOGx.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
  }

  .panel {
    width: 101px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #cash {
    margin-left: auto;
    display: flex;
    top: 0;
    position:absolute;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding: 10px 95px 0 834px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: larger;

  }
  .walletAmount {
    margin-left: auto;
  }
  /* @keyframes blink {
    50% {
      background: radial-gradient(circle, red 15%, transparent 40%), #cc5;
    }
  }
  @-webkit-keyframes blink {
    50% {
      background: -webkit-radial-gradient(circle, red 15%, transparent 40%), #cc5;
    }
  }
  @-moz-keyframes blink {
    50% {
      background: -moz-radial-gradient(circle, red 15%, transparent 40%), #cc5;
    }
  }
  .laser {
    animation: blink .5s infinite;
    -webkit-animation: blink .5s infinite;
    -moz-animation: blink .5s infinite;
  } */